# ─── 가상환경 제외 ──────────────────────────────────────────
venv/

# ─── Python 관련 불필요 파일 제외 ─────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/

# ─── Streamlit 시크릿 파일(환경변수) 제외 ─────────────────
.streamlit/secrets.toml
